<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.fokatdeals.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=LENOVO-PC;Initial Catalog=fd.com;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionString" connectionString="Data Source=MAYANK-PC;Initial Catalog=fd.com;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
 
  <applicationSettings>
    <com.fokatdeals.Properties.Settings>
      <setting name="Domain" serializeAs="String">
        <value>http://localhost:8080</value>
      </setting>
    </com.fokatdeals.Properties.Settings>
  </applicationSettings>

  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
  </system.webServer>
</configuration>
